html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

[data-bs-theme="light"] {
    --bd-top-link-color: solid 1px #ddd9d9;
}

[data-bs-theme="dark"] {
    --bd-top-link-color: solid 1px #4a4a4a;
}

.footer-border-link {
    border-top: var(--bd-top-link-color);
}

.logo-text-a{
    text-decoration:none;
}